.footer {
    background-color:dimgray;
    padding: 20px 0;
    box-sizing: border-box;
    position: relative;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.footer-account {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.footer-account > a {
    font-size: 20px;
}
.fa-youtube {
    margin-left: 20px;
}