{% extends 'base.html' %}
{% load static %}

{% block title %}{{post.title}}{% endblock %}
{% block content %}
<div class="container">
    <div>
        <a href=" {% url 'homePage' %}"></a>
        <h1>{{post.title}}</h1>
    </div>
    <div class="card mb-3 bg-info" style="width: 100%;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{post.postImage}}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{post.title}}</h5>
                    <p class="card-text">{{post.postContent}}</p>
                    <p class="card-text"><small class="text-muted">{{post.postDate}}</small></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
